.wraper {
  display: flex;
}
body {
  overflow: hidden;
}

.nav {
  flex-basis: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  justify-content: space-evenly;
}

.nav__logo img {
  width: 42px;
  margin-left: 6px;
}

.nav__logo {
  padding-bottom: 30px;
  border-bottom: 1px solid #dde3ee;
  place-self: stretch;
}

.nav__profile {
  width: 30px;
  border-radius: 50%;
  height: 30px;
  padding: 3px;
  border: 1px solid #61d5df;
}

.nav div i {
  color: #49547d;
  font-size: 20px;
  cursor: pointer;
}
.nav div i:hover {
  color: #61d5df;
}
.filters {
  flex-basis: 220px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.filters .filter__niche {
  display: flex;
  color: white;
  background-color: #49547d;

  height: 45px;
  font-size: 22px;
  justify-content: space-evenly;
  font-family: Gilroy-bold;
  align-items: center;
}

.filters .filters__category {
  display: flex;
  color: white;
  background-color: #7a83a1;
  height: 45px;
  justify-content: space-around;
  font-family: Gilroy-bold;
  font-size: 15px;
  align-items: center;
}

.filters__category select {
  background-color: #7a83a1;
  border: none;
  color: white;
  width: 150px;
  font-size: 18px;
}

.filters__shiping {
  background-color: #ecedf5;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.filters__shiping > * {
  margin-top: 25px;
}

.filters__select {
  color: #595e73;
  padding: 8px 5px 8px 5px;
  border: 1px solid #dbe0f3;
  border-radius: 5px;
}

/* ********SLIDER START*********** */

.filters__slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #848ca8;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.filters__slider:hover {
  opacity: 1;
}

.filters__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid white;
  background: #49547d;
  cursor: pointer;
}

.filters__slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #49547d;
  cursor: pointer;
}

/* *******SLIDER END********* */

.filters__btn {
  background: #61d5df;
  color: #fff;
  font-weight: 400;
  text-align: center;
  border: 1px solid #61d5df;
  border-radius: 3px;
  font-size: 13px;
  padding: 10px 0;
  cursor: pointer;
}

.main {
  flex-basis: 500px;
  flex-grow: 1;
}

.search-sort__searchbar {
  display: flex;
  align-items: center;
  flex-basis: 450px;
}

.search-sort__searchbar input {
  margin-right: 10px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-grow: 1;
}

.search-sort__burger div {
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

.search-sort__burger {
  display: none;
}

.search-sort__btn {
  height: 32px;
  border-radius: 4px;
  border: none;
  background-color: #61d5df;
  font-family: Gilroy-bold;
  color: white;
}
.fa-search {
  margin-left: -35px;
}
.search-sort__search {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 50px;
  height: 75px;
  align-items: center;
  background-color: #f8f9fa;
}

.search-sort__products {
  font-family: Gilroy-med;
  color: #29304b;
}

.search-sort__sort {
  display: flex;
  color: #9b9fa8;
  padding: 10px 10px 10px 50px;
  border-bottom: 1px solid #dbe0f3;
}

.search-sort__select {
  margin-left: 20px;
  border: none;
  appearance: none;
  color: #9b9fa8;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  padding-right: 25px;
}

search-sort {
  border-bottom: 1px solid #dbe0f3;
  padding-bottom: 30px;
}
.fa-sort {
  margin-left: -10px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
  height: calc(100vh - 125px);
  background-color: #f8f9fa;
  display: none;
}

.catalog__checkbox {
  position: absolute;
  top: 15px;
  left: 19px;
  width: 20px;
  height: 20px;
  display: none;
}

.catalog__add {
  display: none;
  right: 20px;
  top: 20px;
  color: white;
  border-radius: 4px;
  background-color: #61d5df;
  position: absolute;
  /* height: 20px; */
  padding: 5px 10px;
}

.catalog__price {
  width: 100%;
  border-top: 1px solid #dbe0f3;
  text-align: center;
}

.catalog__item-wraper {
  border: 1px solid #dbe0f3;
  border-radius: 10px;
  flex-basis: 280px;
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  position: relative;
  min-width: 400px;
}

.catalog__item-wraper:hover {
  border: 2px solid #61d5df;
  margin: 19px -1px 19px -1px;
}

.catalog__item-wraper:hover .catalog__checkbox {
  display: block;
}

.catalog__item-wraper:hover .catalog__add {
  display: block;
}

.catalog__img {
  max-width: 100%;
  height: 180px;
}

.catalog__title {
  padding: 10px;
}

#search-btn {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .search-sort__products {
    display: none;
  }
}

@media only screen and (max-width: 1068px) {
  .search-sort__btn {
    display: none;
  }

  .search-sort__help {
    display: none;
  }

  .search-sort__burger {
    display: inline-block;
  }
}

@media only screen and (max-width: 600px) {
  .search-sort__search {
    padding: 0 10px 0 30px;
  }

  .filters {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .search-sort__searchbar input {
    width: 150px;
  }
}

.catalog-no-result {
  background-image: url("assets/no_result.png");
  background-position: center;
  background-repeat: no-repeat;
}

#load-gif {
  text-align: center;
}
